{% extends 'base.html.twig' %}

{% block body %}
    <ul>
    {% for tag in tags %}
        <li>{{ tag.title }}</li>
    {% else %}
        <li>{% trans %}tag.empty_list{% endtrans %}</li>
    {% endfor %}
    </ul>
{% endblock %}