{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categories list</h1>
    <table class="table table-striped table-bordered">
    {% for category in categories %}
        <tr><td><a class="label label-default" style="background-color: {{ category.color }}; color: white" href="{{ path('list_task_category', {id: category.id}) }}">{{ category.name }}</a></td></tr>
    {% else %}
        <tr><td>{% trans %}category.empty_list{% endtrans %}</td></tr>
    {% endfor %}
    </table>
{% endblock %}