{% extends 'base.html.twig' %}

{% block body %}
    <ul>
    {% for category in categories %}
        <li><a href="{{ path('list_task_category', {id: category.id}) }}">{{ category.name }}</a></li>
    {% else %}
        <li>{% trans %}category.empty_list{% endtrans %}</li>
    {% endfor %}
    </ul>
{% endblock %}