{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tasks list</h1>
    <table class="table table-striped table-bordered">
    {% for task in tasks %}
        <tr>
            <td class="col-xs-2">
                {{ task.label }}
            </td>
            <td class="col-xs-2">
                {% if task.category is not null %}
                    <span class="label label-default" style="background-color: {{ task.category.color }}">{{ task.category.name }}</span>
                {% endif %}
            </td>
            <td>
                {% for tag in task.tag %}
                    <span class="glyphicon glyphicon-tag"></span> {{ tag.title }}
                {% endfor %}
            </td>
        </tr>
    {% else %}
        <tr><td>{% trans %}task.empty_list{% endtrans %}</td></tr>
    {% endfor %}
    </table>
{% endblock %}